{% extends "base/admin_base.html" %}

{% block title %}Add Quiz{% endblock %}

{% block content %}
<h2 class="mb-4">Add Quiz for <strong>{{ chapter.name | title }}</strong></h2>

<form method="POST">
    <div class="form-group">
        <label for="time_duration">Time Duration (in minutes)</label>
        <input type="number" name="time_duration" class="form-control" required>
    </div>
    
    <div class="form-group">
        <label for="remarks">Remarks (Optional)</label>
        <input type="text" name="remarks" class="form-control">
    </div>

    <button type="submit" class="btn btn-success mt-3">Add Quiz</button>
    <a href="{{ url_for('views.view_chapters', subject_id=chapter.subject_id, chapter_id=chapter.id) }}" class="btn btn-secondary mt-3">Cancel</a>

</form>
{% endblock %}
